<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   TM_AS3_NAMESPACE=`ruby ../../Support/lib/get_namespace.rb` \
   TM_USERNAME=`niutil -readprop / /users/\$USER realname` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; Interface.as &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>as</string>
	<key>name</key>
	<string>Interface</string>
	<key>scope</key>
	<string>source.actionscript3</string>
	<key>uuid</key>
	<string>281C5F75-71ED-428F-9EB4-66818E63232F</string>
</dict>
</plist>
